.portrait {
  position: relative;

  &__background {
    background-color: var(--blue-main);
  }

  &__top {
    height: 117px;
  }

  &__info {
    color: var(--white);
    font-size: 1.5rem;
    text-transform: uppercase;
    display: inline;
  }
  
  &__title {
    color: var(--white);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  &__subtitle {
    color: var(--white);
    font-size: 2.5rem;
    text-transform: uppercase;
    display: inline
  }
  
  &__underlined {
    color: var(--white);
    font-size: 3.5rem;
    display: inline
  }

  &__line {
    width: 247px;
  }
  
  &__dates {
    color: var(--white);
    font-size: 1.75rem;
  }

  &__seal {
    position: absolute;
    z-index: 2;
    right: -1.5rem;
    top: -3rem;
  }

}

// ver si esta bien aqui
.coupon {

  &__card {
    border-radius: 0;
  }

  &__frame {
    border: 1px dashed var(--blue-sf);
    border-radius: 0.5rem;
    padding: 1.25rem;
  }

  &__title {
    color: var(--cyan);
    font-size: 2rem;
    font-weight: 600;
  }

  &__info1 {
    color: var(--blue-main);
    font-size: 1.5rem;
    vertical-align: top;

    &--cyan {
      color: var(--cyan);
    }
  }
  
  &__info2 {
    color: var(--cyan);
    font-size: 1.5rem;
    font-weight: 800;
    display: inline;
  }

  &__text {
    color: var(--blue-sf);
    font-size: 1rem;
  }
}

.form {

  color: var(--gray-sf);

  &__card {
    border-radius: 2rem;
  }

  &__title {
    color: var(--red-new);
    font-weight: 800;
  }

  &__text {
    color: var(--gray-text);

    &--red {
      color: var(--red-new);
      font-weight: 900;
    }
  }

  &__links {
    all: unset;
    color: var(--blue-main);
    
  }
}

.main {
  
  &__title {
    color: var(--blue-main);
    font-size: 2rem;
    font-weight: 700;
  }
  
  &__text {
    color: var(--gray-text);
    font-size: 1.5rem;
    font-weight: 700;

    &--red {
      color: var(--red-new);
    }
  }
  
}

.step {

  &__title {
    color: var(--blue-main);
    font-size: 2rem;
    font-weight: 800;
  }
  
  &__subtitle {
    color: var(--blue-main);
    font-size: 2rem;
    font-weight: 800;
  }

  &__text {
    color: var(--gray-text);
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.slider {

  &__caption {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0); 
    text-align: left;
    max-width: 40rem;
    padding: 2rem;
    padding-top: 6rem;
  }

  &__title {
    color: var(--red-new);
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
  }

  &__text {
    color: var(--black-text);
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2rem;
    padding-right: 3rem;
  }
}

.footer {

  &__background {
    background-color: var(--blue-main);
  }
  
  &__title {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;  // crear variable si se repite
    line-height: 1.75rem;
  }
  
  &__text {
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;  // crear variable si se repite
    line-height: 2.2rem;
  }

  &__copyright {
    color: var(--white);
    font-size: 1rem;
    line-height: 2.2rem;
    font-weight: 200;
  }
  
  &__social {
    padding-right: 1.5rem;
  } 

}

.ruler {
  &__line {
    background-color: var(--blue-main);
    height: 2px;
    width: 550px;
    opacity: 1;
    margin-left: 10;
    margin-right: 10;
  }
}

.btn-info {
  background-color: var(--blue-main);
  color: var(--white);
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.btn-form {
  background-color: var(--gray-disabled);
  color: var(--white);
  padding: 1rem 2.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0;
}

.form-control::placeholder {
  color: var(--gray-sf);
  opacity: 1;
}

.fix-select {
  max-height: 2.5rem;
}
